*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: #1f0e01;
}

header{
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
}

header .navbar{
    max-width: 1280px;
    margin: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar .menu-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar .menu-links li a{
    text-decoration: none;
    color: #fff;
}

.navbar .menu-links .language-item a{
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span{
    font-size: 1.3rem;
}

.navbar .menu-links li a:hover{
    color: #1dbf73;
}

.navbar .menu-links .join-btn a{
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
}

.navbar .menu-links.join-btn a:hover{
    color: #fff;
    border-color: transparent;
    background: #1dbf73;
}

/* SECOND SECTION STYLING */

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 300px, 1fr ) );
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item{
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

.card-list .card-item:hover{
    border: 2px solid #19a463;
}

.card-list .card-item img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span{
    display: inline-block;
    background: #f7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer{
    background-color: #f7DFF5;
    color: #B22485;
}

.card-list .designer{
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .editor{
    background-color: #d6f8df;
    color: #205c20;
}

.card-item h3{
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.card-item .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow{
    background: #000;
    color: #fff;
}

@media (max-width: 1200px) {
    .card-list .card-item{
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    .card-list{
        margin: 0 auto;
    }
}